* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login {
    background-color: rgb(194, 212, 212);
    margin: auto;
    height: 500px;
    width: 300px;
    border: 1px solid black;
}

.name {
    color: white;
    font-size: 30px;
    text-align: center;
}

.username,
.password {
    display: block;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 auto;
    width: 300px;
    margin: 30px 0;
}


.right {
    margin-left: 50px;
    margin-top: 20px;

}

button {
    display: inline-block;
    width: 300px;
    height: 30px;
    text-align: center;
    margin: 20px 0;
}

.or {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
    text-align: center;
}

.facebook {
    width: 100px;
    height: 40px;
    /* padding: 5px 0; */
    line-height: 40px;
    background-color: blue;
}

.Twitter {
    width: 100px;
    height: 40px;
    /* padding: 5px 0; */
    line-height: 40px;
    background-color: rgb(38, 139, 156);
}

.lienhe {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

p {
    font-size: 10px;
}